@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin progress {
  appearance: none;
  @apply bg-seaGreenCrayola;
  height: 0.3rem;
  @apply w-full;
  &[value] {
    @apply bg-honeydew;
    animation: color 5s ease-in-out 0s infinite backwards;
  }
  @keyframes color {
    from {
      @apply w-11/12;
    }
    to {
      @apply w-full;
    }
  }
}

progress {
  @include progress();
}

progress::-moz-progress-bar {
  @include progress();
}

progress::-webkit-progress-bar {
  @include progress();
}
